---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ns-datascience-playground.yaml
  - pvc-workbench-storage.yaml
  # The secret is created manually
  # - secret-data-connection-pipelines.yaml
  - DataSciencePipelinesApplication.yaml

namespace: datascience-playground
...
