---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  labels:
    app: rhoai-playground-env
  name: rhoai-playground-env
  namespace: openshift-gitops
spec:
  destination:
    server: 'https://kubernetes.default.svc'
  project: default
  source:
    path: rhoai-environment-chart
    repoURL: https://github.com/alvarolop/rhoai-gitops.git
    targetRevision: main
  ignoreDifferences:
    # 1. Ignore the Operator-injected changes in the Notebook
    - group: kubeflow.org
      kind: Notebook
      jqPathExpressions:
        - .spec.template.spec.containers[] | select(.name == "kube-rbac-proxy")
        - .spec.template.spec.volumes[]

  syncPolicy:
    automated:
      prune: false
      selfHeal: false
    syncOptions:
      - RespectIgnoreDifferences=true
