---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  labels:
    app: rhoai-installation
  name: rhoai-installation
  namespace: openshift-gitops
spec:
  destination:
    server: 'https://kubernetes.default.svc'
  project: default
  source:
    repoURL: https://github.com/alvarolop/rhoai-gitops.git
    targetRevision: main
    path: rhoai-installation-chart
    helm:
      values: |
        global:
          culling:
            enabled: true
        
        modelRegistry:
          enabled: true
          mysql:
            enabled: true
            namespace: rhoai-model-registries-mysql
            name: mysql
            persistence:
              enabled: true
              size: 30Gi
        
        distributedWorkloads:
          enabled: true

        llamaStack:
          enabled: true
        
        mlflow:
          enabled: true
        
        trustyai:
          enabled: true
        
        featureStore:
          enabled: true
          namespace: rhoai-feature-store
          examples:
            - enabled: true
              name: banking
              authz:
                enabled: false
              feastProjectDir:
                git:
                  url: https://github.com/alvarolop/banking-feature-store
                  ref: rbac
              # persistence:
              #   online:
              #     size: 5Gi
              #   offline:
              #     size: 5Gi
              #   registry:
              #     size: 5Gi
            # - enabled: true
            #   name: music
            #   authz:
            #     enabled: false
            #   feastProjectDir:
            #     git:
            #       url: https://github.com/rhoai-mlops/jukebox
            #       ref: main
            #       featureRepoPath: 7-feature_store/feature_repo
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
    syncOptions: []
