# Default values for rhoai-installation-chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  culling:
    enabled: true

modelRegistry:
  enabled: true
  mysql:
    enabled: true
    namespace: rhoai-model-registries-mysql
    name: mysql
    metrics:
      enabled: false
    persistence:
      enabled: true
      size: 30Gi

distributedWorkloads:
  enabled: true

llamaStack:
  enabled: true

llm_d:
  enabled: false

# https://access.redhat.com/articles/7136121
mlflow:
  enabled: true

trustyai:
  enabled: true

featureStore:
  enabled: true
  namespace: rhoai-feature-store
  examples:
    - enabled: true
      name: banking
      authz:
        enabled: false
      feastProjectDir:
        git:
          url: https://github.com/alvarolop/banking-feature-store
          ref: rbac
      # persistence:
      #   online:
      #     size: 5Gi
      #   offline:
      #     size: 5Gi
      #   registry:
      #     size: 5Gi
    # - enabled: true
    #   name: music
    #   authz:
    #     enabled: false
    #   feastProjectDir:
    #     git:
    #       url: https://github.com/rhoai-mlops/jukebox
    #       ref: main
    #       featureRepoPath: 7-feature_store/feature_repo
