# Default values for rhoai-installation-chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  culling:
    enabled: true

modelRegistry:
  enabled: true
  mysql:
    enabled: true
    namespace: rhoai-model-registries-mysql
    name: mysql
    metrics:
      enabled: false
    persistence:
      enabled: true
      size: 30Gi

distributedWorkloads:
  enabled: true

llamaStack:
  enabled: true

llm_d:
  enabled: false

trustyai:
  enabled: true

featureStore:
  enabled: true
  example:
    enabled: false
    name: sample
    namespace: rhoai-feature-store
    feastProject: credit_scoring_local
    feastProjectDir:
      git:
        url: https://github.com/feast-dev/feast-credit-score-local-tutorial
        ref: 598a270
    persistence:
      online:
        size: 5Gi
      offline:
        size: 5Gi
      registry:
        size: 5Gi
