---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
  - pairs:
      app.kubernetes.io/instance: rhoai

resources:

  # Support for GPU Acceleration
  - operator-nfd
  - operator-nvidia-gpu

  # KServe Installation for Single-model server
  # Not supported anymore in RHOAI 3.0
  # - operator-serverless
  # - operator-servicemesh

  # Required for llm-d
  - operator-lws

  # Required for GPUaaS
  - operator-kueue
  
  # Support for authentication of server models
  - operator-authorino


