---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ns-redhat-ods-operator.yaml
  - og-redhat-ods-operator.yaml
  - sub-rhods-operator.yaml
  - datasciencecluster-default.yaml
...
