---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonLabels:
  app.kubernetes.io/instance: rhoai

resources:
  - operator-pipelines
  - operator-serverless
  - operator-rhoai
  - rhoai-configuration # Configure RHOAI cluster
  - rhoai-workbench # Create an environment for a user
...
